.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

@media (max-width: 480px) {
    .song-list {
      padding: 10px; 
    }
  
    table {
      font-size: 0.9rem; 
    }

    button {
        width: 100%
    }
}